:host {
    display: block;
    --paper-fab-background: #00A7CF;
    --paper-fab-keyboard-focus-background: #00A7CF;
}

myscript-common-element {
    height: 100%;
}

myscript-common-element.result {
    height: calc(100% - 100px);
}

.resultField {
    overflow: auto;
    text-align: center;
    font-size: xx-large;
    min-height: 100px;
    max-height: 100px;
}

span.katex {
    line-height: inherit;
}

.buttons {
    float: left;
    display: flex;
    display: -webkit-flex;
}

paper-fab {
    z-index: 3;
}
