:host {
    display: block;
    --paper-fab-background: #00A7CF;
    --paper-fab-keyboard-focus-background: #00A7CF;
}

myscript-common-element {
    height: 100%;
}

myscript-common-element.result {
    height: calc(100% - 100px);
}

#resultField {
    min-height: 100px;
    max-height: 100px;
    overflow: auto;
    text-align: center;
    font-size: xx-large;
}

span.katex {
    line-height: inherit;
}

.buttons {
    position: absolute;
    z-index: 2;
}
